<tr>
  <td><%= bill.section %></td>
 
  <td><%= bill.year %></td>
  <td><%= bill.month %></td>
  <td><%= bill.dvno %></td>
  <td><%= bill.typebill %></td>
  <td><%= bill.compactor %></td>
  <td><%= bill.rock %></td>
  <td><%= bill.shelf %></td>
</tr>
